.side__bar__filter{
    min-width: 100%;
    @media(min-width: 769) {
    }
    .search__wrapper {
        input{
            width: 100%;
            border:  solid 1px #dedede;
            height: 45px;
            padding: 5px 15px;
            margin: 20px 5px;
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;
            &:focus{
                outline: none;
            }
    }
    }
    .color{
        width: 20px;
        height: 20px;
        display: block;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
}
.accordion-item{
    border: none;

}
}